<header>
  <div class="p-3 mb-2 bg-white text-dark">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo del sito" style="width: 90px" />

      <nav class="navbar navbar-light bg-light justify-content-between">
        <form class="form-inline ml-auto" style="margin-top: -70px">
          <input
            class="form-control mr-3"
            type="text"
            placeholder="Cerca vestito"
            aria-label="Search"
            style="width: 300px; margin-left: 900px; margin-top: px"
            [(ngModel)]="ricercaCategoria"
            name="ricercaCategoria"
            (input)="applyFilter()"
          />
        </form>
      </nav>
    </div>
  </div>
</header>
<div class="row">
  <a class="btn btn-outline-primary btn-sm" role="button" routerLink="/cart">
    Vai al carrello ({{ lunghezzaCarrello }})
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="10"
      height="10"
      fill="currentColor"
      class="bi bi-cart"
      viewBox="0 0 16 16"
    >
      <path
        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
      />
    </svg>
  </a>
</div>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item
        *ngFor="let categoria of categorie"
        (click)="caricaVestiti(categoria.name)"
      >
        {{ categoria }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content> </mat-sidenav-content>
</mat-sidenav-container>
<div class="container">
  <div class="row">
    <div *ngFor="let categoria of categorie" class="col">
      <button class="btn" (click)="caricaVestiti(categoria)">
        {{ categoria }}
      </button>
    </div>
    <div *ngIf="categoriaSelezionata">
      Categoria selezionata{{ categoriaSelezionata }}
    </div>
  </div>
  <div class="row">
    <div *ngFor="let vestito of vestitiFiltrati" class="col">
      <div class="card">
        <img src="{{ vestito.image }}" class="image" alt="..." />
        <div class="card-body">
          <h5 class="card-title" (click)="mostraDescrizioneVestito(vestito)">
            {{ vestito.title }}
          </h5>
          <p>Price: ${{ vestito.price }}</p>
          <a
            class="btn btn-primary"
            style="margin-top: -10px"
            (click)="delete(vestito.id)"
          >
            Elimina
          </a>
          <p></p>

          <a
            class="btn btn-primary"
            style="margin-top: -10px"
            (click)="aggiungiAlCarrello(vestito)"
          >
            Aggiungi al carrello
          </a>
          <p class="description" *ngIf="vestito.mostraDescrizione">
            {{ vestito.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
