<div class="p-3 mb-2 bg-white text-dark">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/logo.png" alt="Logo del sito" style="width: 90px" />
    </a>
    <div class="cart-icon">
      <i class="bi bi-cart"></i>
      <button
        type="button"
        class="btn btn-primary"
        style="width: 300px; margin-left: 900px"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-cart"
          viewBox="0 0 15 15"
        >
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
          />
        </svg>
        <span
          class="badge"
          style="
            font-family:
              Times New Roman,
              Times,
              serif;
            font-size: medium;
          "
          >Carello</span
        >
      </button>
    </div>
    <div
      class="modal it-dialog-scrollable fade"
      tabindex="-1"
      role="dialog"
      id="modalLeft"
      aria-labelledby="modalLeftTitle"
    ></div>
  </div>
</div>
<div class="container">
  <div class="card-title">
    <h5
      class="card-title"
      style="
        font-size: large;
        font-family:
          Times New Roman,
          Times,
          serif;
      "
    >
      Il Mio Carrello:
    </h5>
    <div class="cart">
      <div *ngIf="vestitiNelCarrello && vestitiNelCarrello.length > 0">
        <div *ngFor="let vestito of vestitiNelCarrello">
          <div class="item-content">
            <img
              src="{{ vestito.image }}"
              alt="{{ vestito.title }}"
              style="
                max-width: 100px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            />
            <p></p>
            <div class="item-details">
              <p
                class="title"
                style="
                  font-family:
                    Times New Roman,
                    Times,
                    serif;
                  text-decoration: solid;
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 10px;
                  margin-left: 300px;
                  margin-top: -90px;
                "
              >
                {{ vestito.title }}
              </p>
              <p></p>
              <p
                class="price"
                style="
                  font-family:
                    Times New Roman,
                    Times,
                    serif;
                  text-decoration: solid;
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 10px;
                  margin-left: 300px;
                "
              >
                ${{ vestito.price }}
              </p>

              <button
                (click)="rimuoviDalCarrello(vestito)"
                style="
                  background-color: #007bff;
                  color: white;
                  text-align: center;
                  font-family:
                    Times New Roman,
                    Times,
                    serif;
                  margin-top: 68px;
                  border-radius: 10px;
                "
              >
                Rimuovi dal carrello
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!(vestitiNelCarrello && vestitiNelCarrello.length > 0)">
        <div style="margin-top: 150px; margin-left: 300px">
          <strong>Il carrello è vuoto!</strong>
        </div>
      </div>
    </div>
  </div>
</div>
